@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Home</h1>
                </div>

                <!-- Main content -->


            </div>
        </div>
    </div>
    @*<main role="main" class="content">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </main>*@

<!--<section class="content">-->
    <!-- Default box -->
    <!--<div class="card">
        <div class="card-header">
            <h4>System Overview</h4>
        </div>
        <div class="card-body">
            MSIL is system of HDFC use for generates reports and sending mails to HDFC corporate customer (Maruti Suzuki).MSIL Team generate Invoice , Order, and Payment data from system and send to HDFC and MSIL application mapped all data and generate payment confirmation and other reports and email to Maruti Suzuki and his client.

        </div>
    </div>-->
    <!-- /.card -->
    <!--<div class="card">
        <div class="card-header">
            <h4>Design Objective</h4>
        </div>
        <div class="card-body">
            MSIL system is design for sending payment confirmations to Maruti Suzuki and his client. The Main features for MSIL is to generate automatic reports and sending mails like INVOICE Confirmation, DRC (Document Release Confirmation).
        </div>
    </div>-->
    <!-- /.card -->
    <!--<div class="card">
        <div class="card-header">
            <h4>Design Overview  </h4>
        </div>
        <div class="card-body">
            The utility interface will be hosted on LAN and the users need to access it through secure lan based USER ID and PASSWORD.
            <br />
            <br />
            There are three profiles created for CASH OPS, TRADE OPS and ADMIN
        </div>
    </div>-->
    <!-- /.card -->

<!--</section>-->
</div>
<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>