@{Layout = null;}
@model HDFCMSILWebMVC.Models.user_mst_temp  
@{
    ViewBag.Title = "Login";
    var showConfirm = ViewBag.ShowConfirmLogout != null && (bool)ViewBag.ShowConfirmLogout;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HDFC MSIL | Log in (v2)</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    @*<link rel="stylesheet" href="../../dist/css/adminlte.min.css">*@
    <link rel="stylesheet" href="~/dist/css/adminlte.css" >
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        @if (showConfirm)
        {
            <script>
                window.onload = function () {
                    if (confirm("An active session already exists. Would you like to log out and log in again?")) {
                        window.location.href = "/Login/Logout"; // Adjust controller path if needed
                    }
                };
            </script>
        }
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1"><b>MSIL</b> Login</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sign in to HDFC MSIL session</p>

                @using (Html.BeginForm("LoginPage", "Login", FormMethod.Post))
                {
                    if (ViewBag.LoginStatus != null)
                    {
                        if (ViewBag.LoginStatus == 0)
                        {
                            <div class="alert alert-danger">Your Email or password is incorrect</div>
                        }
                        if (ViewBag.LoginStatus == -1)
                        {
                            if (TempData["alertMessageDormant"] != null)
                            {
                                <div class="alert alert-danger alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"> × </button>
                                    @TempData["alertMessageDormant"].ToString()
                                </div>
                            }
                        }
                    }

                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.User_Name, new { @placeholder = "Email ID", @class = "form-control" })
                        @*@Html.ValidationMessageFor(m => m.LoginName, "", new { @class = "text-danger" })*@
                        @*<input type="email" class="form-control" placeholder="Email">*@
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", @class = "form-control" })
                        @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
                        @*<input type="password" class="form-control" placeholder="Password">*@
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>

                }
                @*<p class="mb-0">
                    <a href="@Url.Action("RegisterNew", "Login")" class="text-center">Register a new User</a>
                </p>*@
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
</body>
</html>
